
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App Filmes Etec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid id="destaque">
  <ion-row >
    <ion-col size="12" size-md="0" >
      <p class = "tituloDestaque">{{destaque.title}}</p>      
      <a [routerLink]="['/detalhes/1']"><ion-img src="{{destaque.photo_link}}"> </ion-img> </a>      
    </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid >
    <ion-col size="0" size-md="0" *ngFor="let filme of filmes ; let i = index;" (click)="detalhesFilme(filme.id)"   >    
    <ion-img  src="{{ filme.photo_link }}"></ion-img>
        <div class="title">{{filme.title}}</div>
    </ion-col>

  </ion-grid>
</ion-content>

<!--
<ion-grid>
  <ion-row>
          <ion-col size="3" style="background-color: red;">
            ion-col [size="3"]
          </ion-col>
          <ion-col size="3" style="background-color: blue;">
            ion-col
          </ion-col>
          <ion-col size="3" style="background-color: green;">
            ion-col
          </ion-col>
          <ion-col size="3" style="background-color: yellow;">
            ion-col
          </ion-col>
        </ion-row>
  
        <ion-row style="background-color: blueviolet">
          <ion-col class="ion-align-self-start">
            ion-col [start]
          </ion-col>
          <ion-col class="ion-align-self-center">
            ion-col [center]
          </ion-col>
          <ion-col class="ion-align-self-end">
            ion-col [end]
          </ion-col>
          <ion-col>
            ion-col
            <br>#
            <br>#
          </ion-col>
        </ion-row>
  
        <ion-row>
          <ion-col size="3" style="background-color: red;">
            ion-col [size="3"]
          </ion-col>
          <ion-col size="3" style="background-color: blue;">
            ion-col
          </ion-col>
          <ion-col size="3" offset="3" style="background-color: green;">
            ion-col
          </ion-col>
          
        </ion-row>
  
        <ion-row style="background-color: darkkhaki">
          <ion-col size="12" size-sm>
            ion-col [size="12"] [size-sm]
          </ion-col>
          <ion-col size="12" size-sm>
            ion-col [size="12"] [size-sm]
          </ion-col>
          <ion-col size="12" size-sm>
            ion-col [size="12"] [size-sm]
          </ion-col>
          <ion-col size="12" size-sm>
            ion-col [size="12"] [size-sm]
          </ion-col>
        </ion-row>
  
        <ion-row style="background-color: aquamarine;">
          <ion-col size="12" size-md>
            ion-col [size="12"] [size-md]
          </ion-col>
          <ion-col size="12" size-md>
            ion-col [size="12"] [size-md]
          </ion-col>
          <ion-col size="12" size-sm>
            ion-col [size="12"] [size-md]
          </ion-col>
          <ion-col size="12" size-sm>
            ion-col [size="12"] [size-md]
          </ion-col>
        </ion-row>
  
        <ion-row style="background-color: cadetblue ">
          <ion-col size="12" size-xl>
            ion-col [size="12"] [size-xl]
          </ion-col>
          <ion-col size="12" size-xl>
            ion-col [size="12"] [size-xl]
          </ion-col>
          <ion-col size="12" size-xl>
            ion-col [size="12"] [size-xl]
          </ion-col>
          <ion-col size="12" size-xl>
            ion-col [size="12"] [size-xl]
          </ion-col>
        </ion-row>
       
      </ion-grid>
-->