<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ion-grid>
    <ion-row>
      <ion-col size-xs="6" size-md="3" style="background-color: blue;">1</ion-col>
      <ion-col size-xs="6" size-md="3" style="background-color: rgb(255, 0, 212);">2</ion-col>
      <ion-col size-xs="6" size-md="3" style="background-color: rgb(255, 38, 0);">3</ion-col>
      <ion-col size-xs="6" size-md="3" style="background-color: rgb(255, 196, 0);">4</ion-col>
    </ion-row>
    size="6" size-md
  </ion-grid>-->


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid id="destaque">
  <ion-row >
    <ion-col size="12" size-sm>
      <ion-img src="https://br.web.img3.acsta.net/pictures/17/10/16/20/52/4165591.jpg"> </ion-img>
      <a [routerLink]="['/detalhes']">Detalhes</a> 
      <p class = "p">Destaque do dia - Bom dia</p>
    </ion-col>
  </ion-row>
  </ion-grid>

  <ion-grid>
  <ion-row >
    <ion-col size-xs="6" size-md="3">
      <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0kLwDPKXgFK6yBg09AFp74Q0KRJ_WfKg82nwQZD1RX_cX7QG6vFMioNpz18B8k4fRO8I&usqp=CAU"></ion-img>      
    </ion-col>

    <ion-col size-xs="6" size-md="3">
      <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStpF_Ye7NpvP-oIqedr2fYPHxZT5OrtgVhkA&usqp=CAU"></ion-img>      
    </ion-col>

    <ion-col size-xs="6" size-md="3">
      <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStpF_Ye7NpvP-oIqedr2fYPHxZT5OrtgVhkA&usqp=CAU"></ion-img>      
    </ion-col>

    <ion-col size-xs="6" size-md="3">
      <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStpF_Ye7NpvP-oIqedr2fYPHxZT5OrtgVhkA&usqp=CAU"></ion-img>      
    </ion-col>

    


  </ion-row>

  
  </ion-grid>
</ion-content>


